/* * {
  background: #285db0;
} */
/* .total {
  margin: auto;
} */
h1 {
  margin-top: 10%;
  margin-left: -5%;
  color: #285db0;
}

.userData,
h2 {
  display: flex;
  margin-left: 10%;
}
.profileChange {
  margin-left: 10%;
}
EditIcon {
  cursor: pointer;
}
button {
  background-color: #285db0;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 30%;
}
.button-group {
  display: flex;
  /* justify-content: space-between; */
}
.content {
  margin-top: 5%;
  width: 75%;
  margin-left: 10%;
}
.content p {
  font-size: 22px;
}
